/**********TAG Selectors******/
body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h1 {
  font-size: 5.652rem;
  font-family: 'Lato', cursive;
  padding-top: 25px;
  color: #66BFBF;
  margin:0;
}

h2 {
  font-size: 1.3rem;
  margin: 20px auto 0 auto;
  color: #66BFBF;
  font-weight: bold;
}


h3 {
  color: #11999E;
}

p{
  line-height: 2;
}

a {
  color: #11999E;
  text-decoration: none;
  padding: 20px;
}

a:hover
{
  color: gray;
}

hr {
  width: 5%;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 6px dotted #d4d4d4;
  }


/*********CLASS selectors*******/
.masterContainer{
  display: flex;
  height: 100vh;
  background-color: #b7d6d2;
  background-size: cover;
}

.gameWindow{
  width:80vw;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}



.buttonsContainer{
text-align-last: justify;
}

#rocket{
  width: 40px;
  bottom: 0;
  margin-top: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  pointer-events: none;

}
/* #about {
    position: absolute;
    left: 140px;
    top: 150px;
}
#Skills {
    position: absolute;
    left: 440px;
    top: 150px;
} */

  .buttons {
    /* padding: 40px 40px; */
    width: 95px;
    height: 95px;
    border-radius: 50px;
    background-color: #6a6a85;
    border: none;
    text-align-last: center;
    color: white;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgb(120 20 158 / 82%) 0%, rgb(82 4 76 / 53%) 35%, rgb(0 0 0) 100%);
}

.buttons:hover{
  background-color: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(232 0 243) 100%);
}
