/**********TAG Selectors******/
body {
  margin: 0;
  color: white;
}

h3 {
  color: white;
}

p {
  line-height: 2;
}

a:hover {
  color: gray;
}

.sideNav {
  position: absolute;
  height: 100vh;
  width: 20vw;
  background-color: #000000;
  text-align: center;
}

.navList{
  text-align: left;
  font-family: 'rubik mono one';
  font-size: .6em;
  line-height: 4em;
}

#myName{
  font-family: 'Raleway Dots', cursive;
  font-size: 2em;
  font-weight: 100;
}

.avatar{
  width: 100px;
  border-radius: 50px;
}

.gameWindow {
  height:100vh;
  width: 80vw;
  left: 20vw;
  position: absolute;
  bottom: 0;
}
#gamesWindow{
  background-image: url('https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
}
/* .buttonsContainer {
  text-align-last: justify;
} */

#rocket {
  width: 50px;
  height: 50px;
  background-image: url('https://res.cloudinary.com/dck5uyfgr/image/upload/v1620800436/001-rocket_ebswvf.svg');
  position: absolute;
  left: 0;
  bottom: 0;
  /* width: 40px; */

  /* animation-name: revolve;
  animation-duration: 2s;
  animation-iteration-count: infinite; */
}
#missiles{
  height:100vh;
  width: 100vw;
  position: absolute;
}
.missile{
  width: 10px;
  height: 28px;
  background-image: url('https://res.cloudinary.com/dck5uyfgr/image/upload/v1620802609/missile2_fboh7e.png');
 position: absolute;
}

/* #enemy1Div {
  position: absolute;
  top: 20em;
  left: 15em;
} */

/* .enemiesDiv a {
  text-decoration: none;
  font-size: .8rem;
} */

/* #enemies{
  position: absolute;
  height: 100%;
  width: 100%;
} */
#enemies{
  width: 50px;
  height: 51px;
  background-image: url('https://res.cloudinary.com/dck5uyfgr/image/upload/v1620879999/002-alien_r5rjpe_1_gk4btj.svg');
  position: absolute;
  left: 27%;
  top: 55%;
}

/* .enemy{
  width: 50px;
  height: 51px;
  background-image: url('https://res.cloudinary.com/dck5uyfgr/image/upload/v1620879999/002-alien_r5rjpe_1_gk4btj.svg');
  position: absolute;
} */
